<section class=" shadow p-2 my-2 rounded-4">
  <h2 class="my-3">Create Account</h2>

  <form [formGroup]="registerForm"  (ngSubmit)="registerSubmit()">

        <div class="d-flex justify-content-between align-items-center">
          <div class="my-2">
            <label for="firstName">firstName</label>
            <input class="form-control" [ngClass]="{
            'is-valid': !registerForm.get('firstName')?.errors && (registerForm.get('firstName')?.touched || registerForm.get('firstName')?.dirty),
            'is-invalid':registerForm.get('firstName')?.errors && (registerForm.get('firstName')?.touched || registerForm.get('firstName')?.dirty)
        }" formControlName="firstName" type="text" id="firstName">
          </div>

           <div class="my-2">
            <label for="lastName">lastName</label>
            <input class="form-control" [ngClass]="{
            'is-valid': !registerForm.get('lastName')?.errors && (registerForm.get('lastName')?.touched || registerForm.get('lastName')?.dirty),
            'is-invalid':registerForm.get('lastName')?.errors && (registerForm.get('lastName')?.touched || registerForm.get('lastName')?.dirty)
        }" formControlName="lastName" type="text" id="lastName">
          </div>
        </div>

         <div class="my-2">
        <label for="username">username</label>
        <input [ngClass]="{
            'is-valid': !registerForm.get('username')?.errors && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty),
            'is-invalid':registerForm.get('username')?.errors && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)
        }" id="username" type="text" class="form-control" formControlName="username">
        @if (registerForm.get('username')?.errors && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)) {


                @if (registerForm.get('username')?.getError('required')) {
                    <p class="m-0 text-danger ">username is Required</p>

                } }@else if (registerForm.get('username')?.getError('minlength')) {
                    <p class="m-0 text-danger">username Should be more than or equal  3 chars</p>

                }@else if (registerForm.get('username')?.getError('maxlength')) {
                    <p class="m-0 text-danger"> username Should be less than or equal  20 chars</p>


        }

        </div>

        <div class="my-2">
            <label for="email">email</label>
            <input [ngClass]="{
                'is-valid': !registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty),
                'is-invalid': registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)
            }" id="email" type="email" class="form-control" formControlName="email">

            @if (registerForm.get('email')?.errors && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty)) {
                    @if (registerForm.get('email')?.getError('required')) {
                        <p class="m-0 text-danger">email is Required</p>

                    }@else if (registerForm.get('email')?.getError('email')) {
                        <p class="m-0 text-danger">Enter Valid Email </p>

                    }
            }

        </div>

        <div class="my-2">
            <label for="phone">phone</label>
            <input [ngClass]="{
                'is-valid': !registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty),
                'is-invalid': registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)
            }" id="phone" type="tel" class="form-control" formControlName="phone">
            @if (registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)) {

                    @if (registerForm.get('phone')?.getError('required')) {
                        <p class="m-0 text-danger">phone is Required</p>

                    }@else if (registerForm.get('phone')?.getError('pattern')) {
                        <p class="m-0 text-danger">Enter Valid phone </p>

                    }

            }
        </div>

        <div class="my-2">
            <label for="password">password</label>
            <input [ngClass]="{
                'is-valid': !registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty),
                'is-invalid': registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)
            }" id="password" type="password" class="form-control" formControlName="password">
            @if (registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)) {

                    @if (registerForm.get('password')?.getError('required')) {
                        <p class="m-0 text-danger">password is Required</p>

                    }@else if (registerForm.get('password')?.getError('pattern')) {
                        <p class="m-0 text-danger">Enter Valid password </p>

                    }

            }
        </div>

        <div class="my-2">
            <label for="rePassword">rePassword</label>
            <input [ngClass]="{
                'is-valid': !registerForm.getError('mismatch') && (registerForm.get('rePassword')?.touched || registerForm.get('rePassword')?.dirty),
                'is-invalid': registerForm.getError('mismatch') && (registerForm.get('rePassword')?.touched || registerForm.get('rePassword')?.dirty)
            }" id="rePassword" type="password" class="form-control" formControlName="rePassword">
            @if (registerForm.getError('mismatch') && (registerForm.get('rePassword')?.touched || registerForm.get('rePassword')?.dirty)) {
                <p class="text-danger  m-0">Password confirmation is incorrect</p>
            }
        </div>

        <button type="submit" class="btn btn-primary w-100 my-3">Create Account</button>
        <p class="text-secondary text-center">Already have an account?
          <a class="text-decoration-none" routerLink="/login" >login</a>

        </p>


  </form>
</section>
