<section>

  <!-- Step 1: Verify Email -->
  <form *ngIf="step === 1" [formGroup]="verifyEmail" class="rounded-4 shadow p-3" (ngSubmit)="verifyEmailSubmit()">

    <div class="my-2">
      <h1 class="my-2">Forgot Password</h1>
      <p class="text-secondary">Don’t worry, we will help you recover your account.</p>
    </div>

    <div class="my-2">
      <label for="email">Email</label>
      <input id="email" type="email" class="form-control" formControlName="email"
             [ngClass]="{
               'is-valid': !verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty),
               'is-invalid': verifyEmail.get('email')?.errors && (verifyEmail.get('email')?.touched || verifyEmail.get('email')?.dirty)
             }">
      <app-input-error [control]="verifyEmail.get('email')" label="Email"></app-input-error>
    </div>

    <app-form-button label="Continue" [disabled]="verifyEmail.invalid">
      <i class="fa-solid fa-right-to-bracket"></i>
    </app-form-button>

    <div class="my-3 text-center">
      <p class="text-secondary">Don't have an account?
        <a class="text-decoration-none" routerLink="/register">Create yours</a>
      </p>
    </div>

  </form>

  <!-- Step 2: Verify OTP -->
  <form *ngIf="step === 2" [formGroup]="verifyCode" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="verifyCodeSubmit()">

    <span><i class="fa-solid fa-arrow-left"></i></span>

    <div class="my-2">
      <h1 class="my-2">Verify OTP</h1>
      <p class="text-secondary">Please enter the 6-digit code we have sent to: user@example.com.</p>
    </div>

    <div class="my-2">
      <label for="resetCode">Reset Code</label>
      <input id="resetCode" type="text" class="form-control" formControlName="resetCode"
             [ngClass]="{
               'is-valid': !verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty),
               'is-invalid': verifyCode.get('resetCode')?.errors && (verifyCode.get('resetCode')?.touched || verifyCode.get('resetCode')?.dirty)
             }">
      <app-input-error [control]="verifyCode.get('resetCode')" label="Reset Code"></app-input-error>
      <p class="text-secondary text-center">You can request another code in: 60s</p>
    </div>

    <app-form-button label="Verify Code" [disabled]="verifyCode.invalid"></app-form-button>

    <div class="my-3 text-center">
      <p class="text-secondary">Don't have an account?
        <a class="text-decoration-none" routerLink="/register">Create yours</a>
      </p>
    </div>

  </form>

  <!-- Step 3: Reset Password -->
  <form *ngIf="step === 3" [formGroup]="resetPassword" class="bg-main-light rounded-4 shadow p-3" (ngSubmit)="resetPasswordSubmit()">

    <div class="my-2">
      <h2 class="my-2">Create a New Password</h2>
      <p class="text-secondary">Create a strong new password for your account.</p>
    </div>

    <div class="my-2">
      <label for="email">Email</label>
      <input id="email" type="email" class="form-control" formControlName="email" readonly>
    </div>

    <div class="my-2">
      <label for="newPassword">New Password</label>
      <input id="newPassword" type="password" class="form-control" formControlName="newPassword"
             [ngClass]="{
               'is-valid': !resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty),
               'is-invalid': resetPassword.get('newPassword')?.errors && (resetPassword.get('newPassword')?.touched || resetPassword.get('newPassword')?.dirty)
             }">
      <app-input-error [control]="resetPassword.get('newPassword')" label="New Password"></app-input-error>
    </div>

    <app-form-button label="Reset Password" [disabled]="resetPassword.invalid"></app-form-button>

    <div class="my-3 text-center">
      <p class="text-secondary">Don't have an account?
        <a class="text-decoration-none" routerLink="/register">Create yours</a>
      </p>
    </div>

  </form>

</section>
